<div>
  <p-dataTable [value]="data" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" [lazy]="true" [rows]="5" 
  [paginator]="true" [responsive]="true" [totalRecords]="total" (onLazyLoad)="loadLazy($event)" selectionMode="single" >
    <p-header>{{tableHeader}}</p-header>
    <p-column *ngFor="let c of tableColumns" field="name" header="{{c}}"></p-column>

    <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
  </p-dataTable>

  <!-- Modal Dialog -->
  <p-dialog header="Restaurant Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selected">
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="name">Name</label></div>
              <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="selected.name" /></div>
              <input type="hidden" id="id" [(ngModel)]="selected.id" />
          </div>
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
              <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
          </div>
      </p-footer>
  </p-dialog>
</div>
