<nav id="home-header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RM</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">      
      <li class="nav-item" *ngFor="let item of items">
          <a href="" class="nav-link">{{item}}</a>
      </li>
    </ul>
  </div>  
</nav>